pkgbase = aws-sam-cli-bin
	pkgdesc = CLI tool to build, test, debug, and deploy Serverless applications using AWS SAM
	pkgver = 1.155.2
	pkgrel = 1
	url = https://github.com/aws/aws-sam-cli
	arch = x86_64
	license = Apache
	optdepends = docker
	provides = aws-sam-cli
	conflicts = aws-sam-cli
	source = aws-sam-cli-linux-1.155.2-x86_64.zip::https://github.com/aws/aws-sam-cli/releases/download/v1.155.2/aws-sam-cli-linux-x86_64.zip
	sha256sums = 30750105bd9261d81be88a9daecb38cdc3b8598d9f5a58d68a94a32d18f24574

pkgname = aws-sam-cli-bin
