pkgbase = aws-sam-cli-bin
	pkgdesc = CLI tool to build, test, debug, and deploy Serverless applications using AWS SAM
	pkgver = 1.137.1
	pkgrel = 1
	url = https://github.com/aws/aws-sam-cli
	arch = x86_64
	license = Apache
	optdepends = docker
	provides = aws-sam-cli
	conflicts = aws-sam-cli
	source = aws-sam-cli-linux-1.137.1-x86_64.zip::https://github.com/aws/aws-sam-cli/releases/download/v1.137.1/aws-sam-cli-linux-x86_64.zip
	sha256sums = 62835e28ee16441bf34e2e4c27c0c804d632aba832c5d47be9b2e5165eb20e1e

pkgname = aws-sam-cli-bin
