pkgbase = aws-sam-cli-bin
	pkgdesc = CLI tool to build, test, debug, and deploy Serverless applications using AWS SAM
	pkgver = 1.116.0
	pkgrel = 1
	url = https://github.com/aws/aws-sam-cli
	arch = x86_64
	license = Apache
	optdepends = docker
	provides = aws-sam-cli
	conflicts = aws-sam-cli
	source = aws-sam-cli-linux-1.116.0-x86_64.zip::https://github.com/aws/aws-sam-cli/releases/download/v1.116.0/aws-sam-cli-linux-x86_64.zip
	sha256sums = a1bc630d776c54699a1b63d1fd7f1566f1a748b3d32afe8d76ec5b18d9adfe7e

pkgname = aws-sam-cli-bin
